*{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    margin: 0;
}

html {
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 100%;   

}

body div#container {
    display: flex;
    background-color: #3b3b3b;
    width: 100%;
    height: 5%;
    align-items: center;
  }

div#c2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

img#lgm {
    width: 600px;
    align-items: center;
}

h2#contatos{
    color: #000000;
    padding: 1%;
    margin-left: 1%;
    width: 50%;
}

div#pe{
    margin-top: 3.8%;
    color: #f8f8f8;
    height: 10%;
    background-color: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    
}

div#bemvindo{
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    width: 78%;  
}

h5{
    height: 100%;
    justify-content: flex-end;
}

header{
    display: flex;
    width: 100%;
    height: 7%;
}

header div{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.uniq {
    width: 13%;
    height: 90%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    justify-content: flex-end;
    margin-left: auto;
}

.uniq input[type="text"] {
    color: #000000;
    height: 22px;
    width: 140px;
    padding: 6px;
    font-size: 15px;
    outline: none;
    border: 1px solid #ccc; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.uniq button {
    background-color: #3498db;
    color: rgb(247, 247, 247);
    border: none;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

#lupa{
    width: 11px;
}