*{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

html {
    background-color: black;
    width: 100%;
    height: 98%;
}

body div#container {
    display: flex;
    justify-content: flex-start;
    background-color: #3b3b3b;
    width: 100%;
  }

div#c2{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70%;
}

body{
    background-color: purple;
    height: 100%;
}

img#lgm {
    width: 600px;
}